@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 3.5%;
  }
  .row {
    padding: 0 1%;
  }
}

@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 50px;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 480px) {}